<div id="2st">
    <h1 class="title">Sprint 2</h1>
    <div class="content">
        <ul>
            <li>为shoplist组件编写JSDoc</li>
            <li>基于Cortex-test为shoplist组件编写调试环境,提高了生产效率</li>
            <li>搭建shoplist的单元测试模块(虽然用不上..)</li>
            <li>团餐菜单页(入职第二周接到的大项目，挑战非常大)</li>
        </ul>
    </div>
    <div class="describe">
        第二个迭代对我来说挑战非常大，因为在不熟悉代码的情况下接了非常大的需求<br>
        虽然很吃力，但是在善成的协助下还是顺利的上线了<br>
        经过这次挑战，我得到了比较大的成长，算是比较迅速的熟悉了业务和项目代码，也学习到了很多前端调试的技巧
    </div>
    <div id="rm-btn" onclick="rmPPT();"></div>
</div>