<div id="1st">
    <h1 class="title">Sprint 4【微信一级入口】</h1>
    <div class="content">
        <ul>
            <li>首页和金刚页的优化</li>
            <li>与善成合作完成preview页的优化</li>
            <li>菜单页的优化</li>
            <li>与耿泽老师合作完成购物车的优化</li>
            <li>补充了大量的注释</li>
            <li>根据美团外卖的视觉规范定义了项目的公共颜色样式，方便统一管理颜色</li>
            <li>在这次大战中，作为一个新员工，表现应该是相当好了，而且在这种工作压力下bug很少，必须自吹一波</li>
        </ul>
    </div>
    <div class="describe">
        这个迭代就像打了一场大仗一样，挑战和压力也都特别大<br>
        多亏第二个迭代做团餐的时候对菜单页的代码已经比较熟悉了，同时上个迭代有时间去熟悉其他模块<br>
        所以虽然很累，但是做的还算有条有理，也有精力去帮助北京同学遇到的一些比较简单的问题<br>
        这个迭代体验最深刻的就是计划和执行力<br>
        拿到需求之后以小时为单位进行规划，思路都打通之后才开始动手<br>
        头脑清醒时该写的文档一定要写好，在项目后期思路不够清晰的时候给予了很大帮助<br>
    </div>
    <div id="rm-btn" onclick="rmPPT();"></div>
</div>